extends layout.pug

block content
    .card(style="width: 18rem;")
        .card-body
            .card-title Bitconnect
            .card-text Bitconnect will save us all from the big bad money man.
